* {
    box-sizing: border-box;
}

*:focus {
outline: none;
}

body {
    font-family: Arial;
    background-color: #FFF;
    padding: 50px;
}

#mainbody {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
   -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

}
.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.title-banner {
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    color: #FFF;
    margin-bottom: 5%;
}

.app-title {
    text-align: center;
    color: #777;
}

.center {
    text-align: center;
    display: block;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    width: 250px;
    transition: border .5s;
    padding: 10px 0;
}

input:focus {
    border: 2px solid #191919;
    box-shadow: none;
}

.signin-btn {
    border: 2px solid transparent;
    background-color: #ECF0F1;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 10px 0;
}

.signin-btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.flashes {
    text-align: center;
    color: #CF0;
}

table, th, td {
  border: 1px solid black;
}
