/* Default Widget Styles */
* {
    box-sizing: border-box;
}

*:focus {
outline: none;
}

body {
    font-family: Arial;
    background-color: #FFF;
    padding: 50px;
}


input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    width: 250px;
    transition: border .5s;
    padding: 10px 0;
}

input:focus {
    border: 2px solid #191919;
    box-shadow: none;
}

/* End of Default Widget Styles */

/* Page Fade Animations */
.main-container {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
   -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* End of Page Fade Animations */

/* Sign In Button */

.signin-btn {
    border: 2px solid transparent;
    /* background-color: #ECF0F1; */
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 10px 0;
}

/*.signin-btn:hover {
    background-color: #1a4e70;
}*/

/* End of Sign In Component */


/* Table Styles for my-bookings */

.table-striped {
	border: none;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #f7f7f7;
}

.table-striped>thead>tr>th {
	background-color: white;
}

/* End of Table Styles */


.details-label {
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
	
}

.error-message {
	color: red;
}

.flashes {
    text-align: center;
    color: red;
}

.nav-bar-username {
  color: white;
}

.top-margin {
  margin-top: 5%;
}

.event-container {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 3px #e0e0e0;
  display: block;
  width: 100%;
  height: 90%;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-bottom: 4%;
  margin-top: 4%;
  vertical-align: center;
  text-align: center;
}

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.details-date {
  font-size: 110%;
  margin-top: 2%;
  color: blue;
}