<!doctype html>

<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous">
	</script>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% set origin = request.url_root %}

<!-- nav bar -->
<div class="">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <!-- left links group -->
            <ul class="navbar-nav">
		        <!-- Home button -->
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>

		        <!-- If not admin, show bookings button -->
				{% if not current_user.is_anonymous and not is_admin %}
                <li class="nav-item">
                    <a href="{{ origin }}my_bookings" class="nav-link">Bookings</a>
                </li>
                {% endif %}
            </ul>

            <!-- right links group -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
					<!-- if not logged in, show the following: -->
                    {% if current_user.is_anonymous %}
					<!-- Public user login button -->
                    <a href="{{ url_for('user_login') }}"
					   class="btn btn-outline-primary"
	   				   role="button">Member Sign In</a>
					<!-- Staff login button -->
                    <a href="{{ url_for('staff_login') }}"
					   class="btn btn-outline-primary"
					   role="button">Staff Sign In</a>

					<!-- if logged in, show the following -->
                    {% else %}
					<!-- Username -->
					<span class='nav-bar-username'>{{ current_user.username }}&nbsp;</span>
					<!-- Account page button -->
                    <a href="{{ url_for('my_account') }}"
					   class="btn btn-outline-primary"
					   role="button">Account</a>

						<!-- if staff user, show link to admin page -->
						{% if is_admin or is_staff %}
						<a href="{{ url_for('admin.index') }}"
						   class="btn btn-outline-primary"
						   role="button">Admin Page</a>
						{% endif %}

					<!-- Logout button -->
                    <a href="{{ url_for('logout') }}"
					   class="btn btn-outline-primary"
					   role="button">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div><br>

<!-- main content display -->
<div id='mainbody'>
{% block content %}{% endblock %}
</div>
</body>
</html>
