<!doctype html>

<html>
  <head>
	<title>{{ page_title }}</title>
   <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>

  <body>
    <div class="">
    Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('user_login') }}">Login</a>
        <a href="{{ url_for('staff_login') }}">Admin Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	{% block body %}

	{% endblock %}

  </body>
</html>
