{% extends "base.html" %}

{% block content %}
<div class="container main-container ml-2 top-margin">
	<form action="" method="post">
		{{ form.hidden_tag() }}

		<!-- Event title -->
		<div class="row mb-2">
			<div class="col-lg-1 col-md-2">
				{{ form.title.label }}
			</div>
			<div class="col-sm-3">
				{{ form.title() }}
			</div>
		</div>

		<!-- Username -->
		<div class="row mb-2">
			<div class="col-lg-1 col-md-2">
				{{ form.username.label }}
			</div>
			<div class="col-sm-3">
				{{ form.username() }}
			</div>
		</div>

		<!-- Date and Time -->
		<div class="row mb-2">
			<div class="col-lg-1 col-md-2">
				Slot
			</div>
			<div class="col">
			<div style="display: inline-block; width: 128px; text-align: center;">
				{{ form.date.label }}
			</div>
			<div style="margin-left: 15px; display: inline-block; width: 104px; text-align: center;">
				{{ form.time.label }}
			</div>
			</div>

		</div>
		<div class="row mb-2">
		<div class="col offset-lg-1 offset-md-2">
			<div style="display: inline-block; width: 128px;">
				{{ form.date(size=1, class_='custom-select', style='width:128px;') }}
			</div>
			<div style="display: inline-block; width: 104px; margin-left: 15px;">
				{{ form.time(size=1, class_='custom-select', style='width:104px;') }}
			</div>
		</div>
		</div>

		<!-- Vacancy -->
		<div class="row mb-2">
			<div class="col-lg-1 col-md-2">
				Available Seats:
			</div>
			<div class="col-sm-3">
				{{ form.vacancy() }}
			</div>
		</div>

		<!-- No. of Tickets -->
		<div class="row mb-2">
			<div class="col-lg-1 col-md-2">
				Tickets
			</div>
			<div class="col-sm-3">
			  	{{ form.count(onchange="refreshPrice()", max=form.vacancy.data) }}
				<!-- {{ form.count(onchange="refreshPrice()", max=capacity, onkeydown="return false") }} -->
				{% for error in form.count.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>

		<!-- Total Cost -->
		<div class="row mb-2">
			 <div class="col-lg-1 col-md-2">
			   Total ($)
			 </div>
			 <div class="col-sm-3">
			   {{ form.price() }}
			   <script>var basePrice = document.getElementById('price').value</script>
			 </div>
		</div>

		<!-- Book Button -->
		<div class="row">
			<div class="col-sm-3 offset-lg-1 offset-md-2">
			  {{ form.submit(class="btn btn-primary") }}
			</div>
		</div>
	</form>
</div>

<!-- Dynamic updates -->
<script>
function refreshPrice(){
    document.getElementById('price').value =
		parseFloat(document.getElementById('count').value * basePrice).toFixed(2)
}
</script>

<!-- Dynamically update available times based on date selected -->
<script>
  let date_select = document.getElementById('date');
  let time_select = document.getElementById('time');

  // Update available times and vacancy based on date selected
  date_select.onchange = function() {
	  date = date_select.value;

	  fetch('/booking/' + {{ eid }} + '/' + date).then(function(response) {
		  response.json().then(function(data) {
			  let time_choices_HTML = '';
			  let count = 0;

			  for (let timing of data.timings) {
				  time_choices_HTML += '<option value="' + timing.slot_id
										+ '">' + timing.time + '</option>';
				  if (count == 0) {
					  document.getElementById('vacancy').value = timing.vacancy;
					  document.getElementById('count').max = timing.vacancy;
				  }
				  ++count;
			  }

			  time_select.innerHTML = time_choices_HTML;
		  });
	  });
  }

  // Update vacancy based on time selected
  time_select.onchange = function() {
	  sid = time_select.value;
	  fetch('/booking/vacancy/' + sid).then(function(response) {
		  response.json().then(function(data) {
			  document.getElementById('vacancy').value = data.vacancy;
			  document.getElementById('count').max = data.vacancy;
		  });
	  });
  }
</script>

{% endblock %}
