{% extends "base.html" %}

{% block content %}
<div class="container main-container" style="margin-top: 70px;">
	<!-- search bar -->
	<div class="row search-row mb-4">
		<div class="col search-col">
			<div class="row align-items-center justify-content-center">
				<form class="form-inline" method="post">
					<div class="form-group">
						{{ form.keyword(class="form-control search-bar", style="width: 500px; height: 45px; text-align: left;", placeholder="Search...") }}
					</div>
					<div class="form-group ml-3">
						{{ form.search_type(class_="btn btn-primary dropdown-toggle", style="width: 100px; height: 45px;") }}
					</div>
					<div class="form-group ml-3">
						<!-- text in the button = try line-height -->
						{{ form.search(class="btn search-btn btn-primary", style="width: 100px; height: 45px;") }}
					</div>
				</form>

				<!-- OLD SEARCH BAR
				<br>
				<form class="form-inline" method="post">
					<input class="form-control" type="search" placeholder="Search..." style="width:500px; text-align: left;">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Title</a>
							<a class="dropdown-item" href="#">Date</a>
							<a class="dropdown-item" href="#">Time</a>
							<a class="dropdown-item" href="#">Type</a>
							<a class="dropdown-item" href="#">Price</a>
						</div>
						<button class="btn btn-primary ml-3" type="submit">Search</button>
					</div>
				</form> -->
			</div>
		</div>
	</div><br>

	<!-- display event posters -->
	<div class="row main-row">
	{% for event in event_list %}
		<div class="col-4" style="float: left;">
			<div class="event-container">
				<div class="image-row">
					<div class="col-auto m-auto">
						<img src="/static/images/python.jpg", style='height: 100%; width: 100%; object-fit: contain'>
					</div>
				</div>
				<div class="event-name-row">
					<div class="col">
						<p> {{ event['title'] }} </p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

	<!-- 'GO BACK' button
	<div class="row main-row">
		<div class="col-12" style="float: left;">
			<a href="/" class="btn btn-secondary" role="button">Go Back</a>
		</div>
	</div> -->
</div>
{% endblock %}
