{% include "base.html" %}

<br>
<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Venue</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Capacity</td>
    <td>Type</td>
    <td>Description</td>
    <td>Creator</td>
    <td>Price</td>
  </tr>
  {% for data in rows %}
  <tr>
    <td>{{ data.event_id }}</a></td>
    <td>{{ data.event_title }}</td>
    <td>{{ data.venue }}</td>
    <td>{{ data.date_start }}</td>
    <td>{{ data.date_end }}</td>
    <td>{{ data.capacity }}</td>
    <td>{{ data.type }}</td>
    <td>{{ data.description }}</td>
    <td>{{ data.created_by }}</td>
    <td>{{ data.price }}</td>
    <br>
  </tr>
  {% endfor %}
</table>
<a href="/">Go Back</a>