{% include "base.html" %}

<br>
<table>
  <tr>
    <td>Name</td>
    <td>Venue</td>
    <td>Date</td>
    <td>Time</td>
    <td>Duration</td>
    <td>Capacity</td>
    <td>Type</td>
    <td>Description</td>
    <td>Price</td>
  </tr>
  {% for event in event_list %}
  <tr>
    <td>{{ event['title'] }}</td>
    <td>{{ event['venue'] }}</td>
    <td>
	  {% for date in event['dates'] %}
 		{{ date }}<br>
	  {% endfor %}
	</td>
    <td>
	  {% for time in event['times'] %}
 		{{ time }}<br>
	  {% endfor %}
	</td>
    <td>{{ event['duration'] }} hours</td>
    <td>{{ event['capacity'] }}</td>
    <td>{{ event['type'] }}</td>
    <td>{{ event['desc'] }}</td>
    <td>${{ event['price'] }}</td>
    <br>
  </tr>
  {% endfor %}
</table>
<a href="/">Go Back</a>
