{% include "base.html" %}
{% block content %}


<div class="container main-container" style="padding-top: 70px;">
	<div class="row main-row pb-3">
		<div class="col-4">
			<div class="container">
				<div class="row">
					<div class="col-auto m-auto">
						<img src="test.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="container event-desc-container">
				<div class="row event-title">
					<div class="col title">
						LEL
					</div>
				</div>
				<div class="row event-date">
					<div class="col-auto start-date">
						14/2/2019
					</div>
					<div class="col-auto start-time">
						2pm
					</div>
					<div class="col-auto">
						to
					</div>
					<div class="col-auto end-date">
						15/2/2019
					</div>
					<div class="col-auto end-time">
						10pm
					</div>
				</div>
				<div class="row event-location">
					<div class="col location">
						Lecture Hall 6
					</div>
				</div>
				<div class="row event-desc align-items-start">
					<div class="col desc">
						blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
					</div>
				</div>
				<div class="row book-button pt-4">
					<div class="col book">
						<a href="booking.html" class="btn btn-primary" role="button">Book Now!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row main-row pb-3">
		<div class="col-4">
			<div class="container">
				<div class="row">
					<div class="col-auto m-auto">
						<img src="test.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="container event-desc-container">
				<div class="row event-title">
					<div class="col title">
						Theoretical Physics
					</div>
				</div>
				<div class="row event-date">
					<div class="col-auto start-date">
						12/2/2019
					</div>
					<div class="col-auto start-time">
						6pm
					</div>
					<div class="col-auto">
						to
					</div>
					<div class="col-auto end-date">
						12/2/2019
					</div>
					<div class="col-auto end-time">
						10pm
					</div>
				</div>
				<div class="row event-location">
					<div class="col location">
						Lecture Hall 5
					</div>
				</div>
				<div class="row event-desc align-items-start">
					<div class="col desc">
						blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
					</div>
				</div>
				<div class="row book-button pt-4">
					<div class="col book">
						<a href="booking.html" class="btn btn-primary" role="button">Book Now!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row main-row pb-3">
		<div class="col-4">
			<div class="container">
				<div class="row">
					<div class="col-auto m-auto">
						<img src="test.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="container event-desc-container">
				<div class="row event-title">
					<div class="col title">
						Theoretical Physics
					</div>
				</div>
				<div class="row event-date">
					<div class="col-auto start-date">
						12/2/2019
					</div>
					<div class="col-auto start-time">
						6pm
					</div>
					<div class="col-auto">
						to
					</div>
					<div class="col-auto end-date">
						12/2/2019
					</div>
					<div class="col-auto end-time">
						10pm
					</div>
				</div>
				<div class="row event-location">
					<div class="col location">
						Lecture Hall 5
					</div>
				</div>
				<div class="row event-desc align-items-start">
					<div class="col desc">
						blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
					</div>
				</div>
				<div class="row book-button pt-4">
					<div class="col book">
						<a href="booking.html" class="btn btn-primary" role="button">Book Now!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}