{% extends "base.html" %}

{% block content %}
<div class="container main-container" style="margin-top: 70px;">
	<div class="row search-row mb-4 align-items-center justify-content-center">
		<!-- search bar -->
		<form class="form-inline" method="post">
			<div class="form-group">
			  {{ form.search_field(class="form-control search-bar", style="width: 400px; height: 45px; text-align: left;", placeholder="Search") }}
			</div>
			<div class="form-group ml-3">
				{{ form.search_type(class_="btn btn-primary dropdown-toggle", style="width: 100px; height: 45px;") }}
			</div>
			<div class="form-group ml-3">
				{{ form.submit_search(class="btn search-btn btn-primary", style="width: 100px; height: 45px;") }}
			</div>
		</form>
	</div>

	<!-- flash error messages -->
	<div>
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  {% for message in messages %}
	  <span class="center flashes">{{ message }}</span>
	  {% endfor %}
	  {% endif %}
	  {% endwith %}
	</div><br>

	<!-- Script to handle changing of search type -->
	<script>
	  let type_select = document.getElementById("search_type");
		type_select.onchange = function() {
	  		var origin = window.location.origin;
	  		var route = origin + "/search/" + type_select.value;
	  		window.location.href = route;
		}
	</script>

	<!-- Feedback if search results -->
	{% if event_list|length == 0 %}
	<br>
	<span class="center" style="color: black;">NO RESULTS</span>
	{% endif %}

	<!-- display event posters -->
	<div class="row main-row">
	  {% for event in event_list %}
		<div class="col-6 col-lg-2 col-md-3 col-sm-4">
		  {% set url = request.url_root ~ 'event/details/' ~ event.event_id %}

			<div class="event-container">
				<a href={{ url }} class="stretched-link"></a>
				<div class="image-row">
				  <div class="col-auto m-auto">
						{% set path = '/static/images/' ~ event.img_root ~ '_thumb.jpg' %}
						<img src='{{ path }}' class='thumbnail'>
				  </div>
				</div>
				<div class="event-name-row">
					<div class="col">
						<p> {{ event.title }} </p>
					</div>
				</div>
			</div>
		</div>
	  {% endfor %}
	</div>
</div>
{% endblock %}
