<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <title>CSIT214 Project</title>
    </head>
    &#123;% block body %&#125; <!-- I think this is supposed to do some kind of block identification but its not working -->
    <body>
    <div class="title-banner">UOW Event Booking System</div>
    <form action="/login" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
				        <input type="text" class="login-field" value="" placeholder="username" name="username">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
				        <input type="password" class="login-field" value="" placeholder="password" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                </div>
            </div>
        </div>
    </form>
    <!-- This chunk here basically returns flash() from main.py's /login -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Test button for me to experiment some stuff -->
    <form action="/testing" method="POST">
        <input type="submit" value="TESTING">
    </form>

    </body>
    &#123;% endblock %&#125; <!-- I think this is supposed to do some kind of block identification but its not working -->
</html>