{% extends "base.html" %}

{% block content %}
<div class="container main-container">
	<div class="row header-row">
		<div class="col header-col mb-3">
			<!-- main header -->
			<h1 class="center">Account Settings</h1>
		</div>
	</div>
	<div class="center">
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
      	{% for message in messages %}
		  <span style="color: red;">{{ message }}</span>
		{% endfor %}
	  {% endif %}
	  {% endwith %}
	</div>
</div>

	<form onkeypress="return event.keyCode != 13;" method="post">
	<div class="row email-row mb-4">
	  <!-- Update email section -->
	  {{ update_form.update_email.hidden_tag() }}
	  <div class="col-lg-1 col-md-2 col-sm-3 label-col">
		Email:
	  </div>
	  <div class="col-lg-5 col-md-10 col-sm-9 field-col">
		<div class="row no-gutters">
			<div class="col">
			<!-- Email entry field -->
			<span oninput="email_len_check()">
			  {{ update_form.update_email.email(placeholder=current_user.email) }}
			</span>
			<!-- Flash error messages -->
			{% for error in update_form.update_email.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			</div>
		</div>
		<div class="row no gutters">
			<div class="col mt-2 offset-3">
			<!-- Email update button -->
			<span onclick="return confirm('confirm update email')">
			  {{ update_form.update_email.update_email(disabled="", class="btn btn-primary acc-update-btn") }}
			</span>
			</div>
		</div>
	  </div><br><br>

	  <script>
		function email_len_check() {
			let email_len = document.getElementById('update_email-email').value.length;
			let button = document.getElementById('update_email-update_email');
			if (email_len > 0) {
				$(button).prop('disabled', false);
			} else {
				$(button).prop('disabled', true);
			}
		}
	  </script>
	</div>

	<div class="row password-row">
		<div class="col">
			<div class="row old-password-row my-3">
			  <!-- Update password section -->
			  {{ update_form.update_password.hidden_tag() }}
			  <div class="col-lg-1 col-md-2 col-sm-3 label-col">
				Old password:
			  </div>
			  <div class="col-lg-5 col-md-6 col-sm-5 field-col">
				<!--  Old password field -->
				<span oninput="pw_len_check()">
				  {{ update_form.update_password.old_password }}
				</span>
				<!-- Flash error messages for old password -->
				{% for error in update_form.update_password.old_password.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			  </div>
			</div>

			<div class="row new-password-row mb-3">
			  <div class="col-lg-1 col-md-2 col-sm-3 label-col">
				New password:
			  </div>
			  <div class="col-lg-5 col-md-6 col-sm-5 field-col">
				<!--  New password field -->
				<span oninput="pw_len_check()">
				  {{ update_form.update_password.new_password }}
				</span>
				<!-- Flash error messages for new password -->
				{% for error in update_form.update_password.new_password.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			  </div>
			</div>

			<div class="row confirm-password-row">
			  <div class="col-lg-1 col-md-2 col-sm-3 label-col">
				Confirm password:
			  </div>
			  <div class="col-lg-5 col-md-10 col-sm-9 field-col">
				<div class="row no-gutters">
					<div class="col">
						<!--  Confirm password field -->
						<span oninput="pw_len_check()">
						  {{ update_form.update_password.confirm_password }}
						</span>
						<!-- Flash error messages for confirm password -->
						{% for error in update_form.update_password.confirm_password.errors %}
						&nbsp<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
				</div>
				<div class="row no gutters">
					<div class="col mt-2 offset-3">
						<!-- Password update button -->
						<span onclick="return confirm('confirm update password')">
						  {{ update_form.update_password.update_password(disabled="", class="btn btn-primary acc-update-btn") }}
						</span>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</div>

	  <script>
		function pw_len_check() {
			let old_pw_len = document.getElementById('update_password-old_password').value.length;
			let new_pw_len = document.getElementById('update_password-new_password').value.length;
			let confirm_pw_len = document.getElementById('update_password-confirm_password').value.length;
			let button = document.getElementById('update_password-update_password');

			if (old_pw_len > 0 && new_pw_len > 0 && confirm_pw_len > 0) {
				$(button).prop('disabled', false);
			} else {
				$(button).prop('disabled', true);
			}
		}
	  </script>
	</form>
</div>
{% endblock %}
