{% extends "base.html" %}

{% block content %}
<div class="container main-container ml-2">
	<div class="row header-row">
		<div class="col">
			<h1>Booked Events</h1>
		</div>
	</div>

	{% if not bookings %}
		<span class="error-message">You have no bookings</span>
	{% else %}
		<div class="row table-row">
		  <div class="table-wrapper-scroll-y my-custom-scrollbar"
			   style="max-width: 1140px; max-height: 368px; overflow: auto; display: block;">
			<table class="table table-striped table-borderless table-responsive w-auto table-active booking-table">
			  <thead>
				<tr>
					<th scope="col">Event</th>
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Tickets</th>
					<th scope="col">Remaining Seats</th>
					<th scope="col">Edit Qty</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			  </thead>
			  <tbody>
				{% for booking in bookings  %}
				<tr>
					<!-- Event title and active status -->
					<td class="align-middle">
						{{ booking.title }}
						<span id="a{{booking.id}}" style="color: red;">
						  {% if not booking.is_active %}
						  (inactive)
						  {% endif %}
						</span>
					</td>

					<!-- Date and Time -->
					<td class="align-middle">{{ booking.date }}</td>
					<td class="align-middle">{{ booking.time }}</td>

					<!-- Current number of tickets -->
					<td class="align-middle text-center">
						<span id="c{{booking.id}}">{{ booking.qty }}</span>
					</td>

					<!-- Current slot vacancy -->
					<td class="align-middle text-center">
						<span id="v{{booking.id}}">{{ booking.vacancy }}</span>
					</td>

					<!-- Ticket quantity change -->
					<td class="align-middle">
						<form action="javascript:void(0)">
							± <input id={{booking.id}} type="number"
							value="0" min=-{{booking.qty}} max={{booking.vacancy}}
							style="width: 60px; height: 40px; border: 1px solid black;"
							oninput="update(this.id, this.value)">
							</input>
						</form>
					</td>

					<!-- Update button -->
					<td class="align-middle">
					  <input id="btn{{booking.id}}"
							 type="button"
							 class="btn btn-primary"
							 value="Update"
							 onclick="window.loctaion.href = '#';"
							 style="opacity: 0.5; width: 100px;"
							 disabled="">
					  </input>
					</td>

					<!-- Cancel booking -->
					<td class="align-middle">
					  <a id="cancel{{booking.id}}"
						 href="#"
						 class="btn btn-primary"
						 onclick="cancel_booking({{booking.id}}); return false;">
						Cancel
					  </a>
					</td>
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		  </div>
		</div>
	{% endif %}
</div>

<script>
  function update(booking_id, change_qty) {
	  let current_qty = document.getElementById(`c${booking_id}`).innerHTML;
	  let vacant_qty = document.getElementById(`v${booking_id}`).innerHTML;
	  let is_active = document.getElementById(`a${booking_id}`).innerHTML;
	  let update_button = document.getElementById(`btn${booking_id}`);

	  var run_check;
	  if (is_active.trim().length == 0) {
	 	  run_check = `check_qty(${booking_id}, ${change_qty}, `
			  			+ `${current_qty}, ${vacant_qty}, true)`;
	  } else {
	 	  run_check = `check_qty(${booking_id}, ${change_qty}, `
			  			+ `${current_qty}, ${vacant_qty}, false)`;
	  }

	  if (change_qty > 0) {
		  update_button.setAttribute("onclick", run_check);
		  update_button.setAttribute("style", "opacity: 1; width: 100px;");
		  $(update_button).prop("disabled", false);
	  } else if (change_qty < 0) {
		  update_button.setAttribute("onclick", run_check);
		  update_button.setAttribute("style", "opacity: 1; width: 100px;");
		  $(update_button).prop("disabled", false);
	  } else {
		  update_button.setAttribute("style", "opacity: 0.5; width: 100px;");
		  $(update_button).prop("disabled", true);
	  }
  }
</script>

<script>
  function check_qty(bid, change_qty, current_qty, vacant_qty, is_active) {
	  if (change_qty < 0 && Math.abs(change_qty) > current_qty) {
		  alert("Cannot return more than number of tickets booked.");
	  } else if (change_qty > 0 && !is_active) {
		  alert("Cannot add tickets for inactive slots.");
	  } else if (change_qty > 0 && change_qty > vacant_qty) {
		  alert("Cannot add more than available seats.");
	  } else if (confirm('confirm update')) {
		  if (change_qty > 0) {
			  window.location.href = "/my_bookings/add_to/" + bid + "/" + change_qty;
		  } else {
			  window.location.href =
				  "/my_bookings/cancel/" + bid + "/" + Math.abs(change_qty);
		  }
	  }

	  document.getElementById(bid).value = 0;
	  update(bid, 0);
  }
</script>

<script>
  function cancel_booking(booking_id) {
	  let qty = document.getElementById(`c${booking_id}`).innerHTML;
	  let url = "/my_bookings/cancel/" + booking_id + "/" + Math.abs(qty);
	  if (confirm("Cancel this booking?")) {
		  window.location.href = url;
	  }
  }
</script>
{% endblock %}
