{% extends "base.html" %}

{% block content %}

<div class="container payment-container ml-2">
  <div class="row payment-row mb-2">
	<div class="col">
	  <h2>Payment:</h2>
	</div>
  </div>

  <!-- Payment notice -->
  <div class="row payment-row mb-2">
	<div class="col">
	  You have selected <b>{{booking_details['quantity']}}</b> ticket(s)
	  for <b>{{booking_details['title']}}</b>
	  on <b>{{booking_details['time']}}</b><br/>

	  The amount payable is
	  <b id='price'>${{ booking_details['price'] * booking_details['quantity'] }}</b>
	</div>
  </div>

  <!-- Entry fields -->
  <div class="row payment-row mb-2">
	<div class="col">
	  <div class="container form-container px-0">
		<form onkeypress="return event.keyCode != 13;" method="post">
		  {{ form.hidden_tag() }}
		  {{ form.promo.hidden_tag() }}
		  {{ form.promo.skip_promo_check }}

		  <!-- Promotion code -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.promo.promo_code.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				<!-- Promotion code entry field -->
				{{ form.promo.promo_code(oninput="promo_data_check(this)", style="width:120px") }}
				<!-- Promotion apply button -->
				{{ form.promo.apply_promo(disabled="", class="btn btn-primary", onclick="promo_clicked()", formnovalidate="formnovalidate", style="width:80px") }}
				<!-- Print promo error messages -->
                {% for error in form.promo.promo_code.errors %}
                <span style="color: red;">{{error}}</span>
                {% endfor %}
			  </p>

			  <!-- Show current code applied -->
			  <p>[Code Applied:
				<span id="applied_code", style="color: blue;">
				  {{ form.promo.current_code_applied.data }}
				</span>]
			  </p>
			</div>
		  </div><br>

		  <!-- Credit card number -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.card_number.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.card_number(oninput="payment_data_check()", maxlength=16) }}
			  </p>
			</div>
		  </div>

		  <!-- Print errors in credit card number -->
          {% for error in form.card_number.errors %}
          <span style="color: red;">{{error}}</span><br>
          {% endfor %}

		  <!-- Card expiry date and CVV -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.expire_month.label }}
			  </p>
			</div>
			<div class="col-2">
			  <p>
				{{ form.expire_month(oninput="payment_data_check()", style="width:50px", maxlength=2) }}
				{{ form.expire_year(oninput="payment_data_check()", style="width:50px", maxlength=2) }}
			  </p>
			</div>
			<div class="test" style="width:50px;">
			  <p>
				{{ form.cvv.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.cvv(oninput="payment_data_check()", style="width:75px", minlength=3, maxlength=3) }}
			  </p>
			</div>
		  </div>

		  <!-- Print errors in date -->
          {% for error in form.expire_month.errors %}
          <span style="color: red;">{{error}}</span><br>
          {% endfor %}
          {% for error in form.expire_year.errors %}
          <span style="color: red;">{{error}}</span><br>
          {% endfor %}

		  <!-- Card owner name -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.name_on_card.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.name_on_card(pattern="[a-zA-Z-]*", oninput="payment_data_check()") }}
			  </p>
			</div><br>
			<!-- Print errors in name -->
            {% for error in form.name_on_card.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
		  </div>

		  <br><b>[ OPTIONAL ]</b><br><br><!-- Optional fields -->
		  <!-- Address -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.address.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.address(style="width:500px; text-align:left;") }}
			  </p>
			</div>
		  </div>

		  <!-- Postal code -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.postal_code.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.postal_code(maxlength=6, style="width:125px") }}
			  </p>
			</div>
		  </div>

		  <!-- Contact number -->
		  <div class="row no-gutters">
			<div class="col-2">
			  <p>
				{{ form.contact.label }}
			  </p>
			</div>
			<div class="col">
			  <p>
				{{ form.contact(maxlength=8, style="width:150px") }}
			  </p>
			</div>
		  </div>

		  <!-- Form submit button -->
		  <div class="row no-gutters">
			<div class="col">
			  <p>
				{{ form.submit(disabled="", class="btn btn-primary", onclick="payment_clicked()") }}
			  </p>
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>

<!-- Scripts handling promo form -->
<script>
  function promo_data_check(applied_code) {
	  let promo_btn = document.getElementById("promo-apply_promo");
	  if (applied_code.value.length > 0) {
		  $(promo_btn).prop("disabled", false);
	  } else {
		  $(promo_btn).prop("disabled", true);
	  }
  }

  function promo_clicked() {
	  document.getElementById('promo-skip_promo_check').value = "NOSKIP";
  }
</script>

<!-- Scripts handling main form -->
<script>
  function payment_data_check(applied_code) {
	  let pay_btn = document.getElementById("submit");

	  let card_number = document.getElementById('card_number').value;
	  let expire_month = document.getElementById('expire_month').value;
	  let expire_year  = document.getElementById('expire_year').value;
	  let cvv  = document.getElementById('cvv').value;
	  let name_on_card = document.getElementById('name_on_card').value;

	  if (card_number.length > 0 &&
		  expire_month.length > 0 &&
		  expire_year.length > 0 &&
		  cvv.length > 0 &&
		  name_on_card.length > 0) {
		  $(pay_btn).prop("disabled", false);
	  } else {
		  $(pay_btn).prop("disabled", true);
	  }
  }

  function payment_clicked() {
	  document.getElementById('promo-skip_promo_check').value = "SKIP";
  }
</script>

{% endblock %}
