{% extends "base.html" %}

{% block content %}
<!-- main header -->
<div class="container main-container ml-2">
	<div class="row header-row">
		<div class="col header-col mb-3">
			<h1>Register</h1>
		</div>
	</div>

	<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	<div class="row label-row">
		<div class="col label-col">
			<!-- username field -->
			<label class="details-label">{{ form.username.label }}</label>
		</div>
	</div>
	<div class="row field-row mb-2">
		<div class="col field-col">
			{{ form.username(size=32) }}
			{% for error in form.username.errors %}
			<span class="error-message">[{{ error }}]</span>
			{% endfor %}
		</div>
	</div>

	<div class="row label-row">
		<div class="col label-col">
			<!-- email field -->
			<label class="details-label">{{ form.email.label }}</label>
		</div>
	</div>
	<div class="row field-row mb-2">
		<div class="col field-col">
			{{ form.email(size=32) }}
			{% for error in form.email.errors %}
			<span class="error-message">[{{ error }}]</span>
			{% endfor %}
		</div>
	</div>
	
	<div class="row label-row">
		<div class="col label-col">
			<!-- password field -->
			<label class="details-label">{{ form.password.label }}</label>
		</div>
	</div>
	<div class="row field-row mb-2">
		<div class="col field-col">
			{{ form.password(size=32) }}
			{% for error in form.password.errors %}
			<span class="error-message">[{{ error }}]</span>
			{% endfor %}
		</div>
	</div>
	
	<div class="row label-row">
		<div class="col label-col">
			<!-- confirm password field -->
			<label class="details-label">{{ form.confirm_password.label }}</label>
		</div>
	</div>
	<div class="row field-row">
		<div class="col field-col">
			{{ form.confirm_password(size=32) }}
			{% for error in form.confirm_password.errors %}
			<span class="error-message">[{{ error }}]</span>
			{% endfor %}
		</div>
	</div>
	
	<div class="row submit-row mt-4">
		<div class="col submit-col">
			{{ form.submit(class_='register-btn btn btn-primary') }}
		</div>
	</div>
	</form>
</div>
{% endblock %}
