{% extends 'base.html' %}

{% block body %}

<div class='title-banner'>Register a new account</div>
<form action='/auth' method='POST'>
  <div class='login'>
    <div class="login-screen">
	  <table>
		<tr><td>username:</td><td><input name='username' type='TEXT'></td></tr>
		<tr><td>password:</td><td><input name='password' type='TEXT'></td></tr>
		<tr><td>confirm password:</td><td><input name='confirm-pw' type='TEXT'></td></tr>
	  </table>
      <input type='submit' value='register' class='btn btn-primary btn-large btn-block'>
	  <center><a href='/'>Back to login</a></center>
	</div>
  </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}
